.update {
 
}

.update .preview-image {
    max-width: 300px;
    max-height: 200px;
}
.box_image{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}